* {
    font-family: Arial, Helvetica, sans-serif;
}

#inputForm {
    max-width: 100%;
    padding: 4px;
    display: none;
    border: 1px solid #ccc;
    width: calc(100% - 12px);
    border-top: none;
}

#editBox {
    max-width: 100%;
    padding: 4px;
    width: calc(100% - 12px);
    border-top: none;
    background: white;
    top: 0;
    left: 0;
    position: absolute;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    padding: 4px;
    display: none;
    overflow: auto;
}

#inputQuestion,
#editQuestion {
    padding: 5px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    font-size: 20px;
    outline: none;
    width: calc(100% - 12px);
}

#inputContent,
#editContent,
#inputData,
#outputData {
    resize: vertical;
    width: calc(100% - 12px);
    padding: 5px;
    border: 1px solid #ccc;
    margin-top: -17px;
    height: 250px;
    outline: none;
    border-bottom: none;
}

#inputTips,
#editTips {
    margin-top: -5px;
    padding: 5px;
    border: 1px solid #ccc;
    outline: none;
    width: calc(100% - 12px);
    border-top: none;
    text-align: justify;
}

#inputDifficult,
#reviewDifficult,
#editDifficult {
    padding: 5px;
    border: 1px solid #ccc;
    outline: none;
    width: 100%;
    border-top: none;
    font-size: 18px;
}

#reviewDifficult {
    font-size: 16px;
    border-top: 1px solid #ccc;
    margin-top: 10px;
}

#inputSave,
#editSave,
#editCancel,
#inputButton,
#inputOutputClose {
    margin-top: -4px;
    padding: 5px;
    border: 1px solid #ccc;
    font-size: 20px;
    outline: none;
    width: 100%;
    cursor: pointer;
}

#editSave,
#editCancel {
    margin-top: -1px;
    width: calc((100% / 2) - 3px);
}

#editSave {
    margin-right: 0.79px;
}

#controlButton button {
    margin-top: -4px;
    padding: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
    width: calc((100% / 4) - 4px);
    cursor: pointer;
}

#inputSave:active,
#controlButton button:active,
#delete:active,
#edit:active,
#videoTitle:active,
#reviewButton:active,
#reviewStop:active,
#reviewSave:active,
#editSave:active,
#editCancel:active,
#inputButton:active,
#inputOutputClose:active {
    background: #ccc;
    box-shadow: 0 0 10px 0 #ccc;
}

#list {
    border: 1px solid #ccc;
    width: calc(100% - 12px);
    padding: 4px;
    margin-top: 10px;
}

#delete,
#edit {
    padding: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 30px;
    display: block;
    cursor: pointer;
    float: right;
    margin-left: -1px;
}

#question {
    padding: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: calc(100% - 88px);
    display: inline-block;
    border-right: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#videoTitle,
#reviewButton,
#reviewStop,
#reviewSave,
#inputOutputClose {
    padding: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
    display: block;
    cursor: pointer;
    outline: none;
}

#reviewStop,
#reviewSave {
    margin-top: -1px;
    width: 100%;
    display: inline-block;
    margin-right: 0.79px;
}

#reviewQuestion {
    margin-left: 16px;
    margin-right: 16px;
}

#reviewContent {
    border: 1px solid #ccc;
    margin-top: -1px;
    padding: 4px;
    display: none;
    text-align: justify;
    margin-bottom: 0px;
    overflow: auto;
}

#keyword {
    color: grey;
    background-color: grey;
    cursor: pointer;
    padding: 1px;
}

#reviewBox,
#inputOutputBox {
    background: white;
    top: 0;
    left: 0;
    position: absolute;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    padding: 4px;
    display: none;
    overflow: auto;
}

#inputData {
    border-bottom: 1px solid #ccc;
    margin-top: 0;
}

#inputButton {
    margin-top: -5px;
    font-size: 16px;
}

#inputTitle {
    border: 1px solid #ccc;
    margin-bottom: -1px;
    padding: 4px;
    font-size: 20px;
}

#outputTitle {
    border: 1px solid #ccc;
    margin-bottom: -1px;
    padding: 4px;
    font-size: 20px;
    border-bottom: none;
}

#outputData {
    border-bottom: 1px solid #ccc;
    margin-top: -1px;
    border-top: 1px solid #ccc;
}

#outputTips {
    margin-top: -1px;
    padding: 5px;
    border: 1px solid #ccc;
    outline: none;
    width: calc(100% - 12px);
    text-align: justify;
    border-top: none;
    margin-top: -8px;
}